In [2]:
ls ./../data/raw

2022-10-13/  file_log_2022-10-13.pickle

In [3]:
import datetime
import hashlib
import logging
import pickle
import re
import unicodedata
from itertools import groupby
from pathlib import Path
from re import Pattern
from typing import Final, NamedTuple, Optional
from urllib.parse import urljoin

import click
import numpy as np
import pandas as pd
import requests
import structlog
from bs4 import BeautifulSoup
from pandas import Series
from pydantic import FileUrl, HttpUrl
from requests import RequestException, Response
from structlog.stdlib import BoundLogger 
from tqdm.auto import tqdm

from data_type import FileInfo, LocalFileInfo

/home/anosillus/.pyenv/versions/3.10.7/envs/fc-check-okinawa/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
!ls ./../data/raw

2022-10-13  file_log_2022-10-13.pickle

In [5]:
with open('./../data/raw/file_log_2022-10-13.pickle', 'rb') as f:
    mynewlist = pickle.load(f)

In [6]:
mynewlist = sorted(mynewlist, key=lambda x: x.info.name)

In [15]:
#mynewlist

In [7]:
a = []
for i in mynewlist:
    b = Path('./../data/raw/' + str(i.download_date) + '/' + i.info.name)
    a.append(b)

In [8]:
len(pd.read_excel(a[0], sheet_name=None, index_col=0).keys()) == 1

True

In [9]:
a[-1]

PosixPath('../data/raw/2022-10-13/202209.xls')

In [10]:
pd.read_excel(a[-1], sheet_name=None, index_col=0).keys()

dict_keys(['概要', '２頁 ', '総数及び世帯数', '地域別人口', '市町村別人口', '移動報告世帯数', '総数', '総数（男）', '総数（女）', '日本人総数', '日本人（男）', '日本人（女）', '外国人総数', '外国人（男）', '外国人（女）', 'R2国調確報(2020 Population Census)'])

In [11]:
file_name = a[0]
raw_df = pd.read_excel(file_name, header=None)

In [15]:
cols = raw_df.columns

In [22]:
for side_n, col in enumerate(cols):
    for vert_n, i in enumerate(raw_df[col]):
        if i == "市 町 村 名":
            print(side_n, vert_n)
            print(raw_df.iloc[vert_n,side_n])

0 4
市 町 村 名

In [ ]:
for side_n, col in enumerate(cols):
    for vert_n, i in enumerate(raw_df[col]):
        if i == "市 町 村 名":
            print(side_n, vert_n)
            print(raw_df.iloc[vert_n,side_n])

In [34]:
def cleaning_jp(fucking_jp:Series):
    return fucking_jp.fillna("").str.replace("\u3000", "").str.replace(" ", "").str.replace("現在", "当時").str.replace("県計", "")

In [35]:
def read_old_format(file_name):
    raw_df = pd.read_excel(file_name, header=None).replace('', np.nan).replace(' ', np.nan).dropna(axis=0, how='all')

    def clean_and_fill(col: int):
        return cleaning_jp(raw_df.iloc[col, :]).fillna(method="ffill")

    primary_columns = clean_and_fill(2)
    secondary_columns = clean_and_fill(3)
    third_columns = [
        a + b if b else a for a, b in zip(clean_and_fill(4), clean_and_fill(5))
    ]

    values = (
        raw_df.iloc[8:, 1:]
        .applymap(
            lambda x: unicodedata.decimal("NFD", cleaning_jp(x))
            if isinstance(x, str)
            else x
        )
        .astype("int")
    )
    df = values
    df.index = cleaning_jp(raw_df.iloc[8:, 0])
    df.index.name = "市町村名"
    df.columns = pd.MultiIndex.from_arrays(
        [primary_columns, secondary_columns, third_columns],
        names=("Primary", "Secondary", "Tertiary"),
    )[1:]

    return df

In [39]:
pd.set_option("display.width", 40)
RAW_DATA_PATH: Final[Path] = Path("./../data/raw/")

with open("./../data/raw/file_log_2022-10-13.pickle", "rb") as f:
    local_file_info = pickle.load(f)

file_names = [
    RAW_DATA_PATH / str(i.download_date) / i.info.name for i in local_file_info
]

In [40]:
rest = []

for file_name in file_names:
    print(file_name)
    # print(pd.read_excel(file_name, sheet_name=None, index_col=0).keys())

    if len(pd.read_excel(file_name, sheet_name=None, index_col=0).keys()) == 1:
        print(file_name)
        df = read_old_format(file_name)
        print(df.head(2))
    else:
        rest.append(file_name)

../data/raw/2022-10-13/199601.xls
../data/raw/2022-10-13/199601.xls
Primary      1月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        104794  298768  143714
石川市          6779   21801   10909

Primary               自然動態            \
Secondary
Tertiary        女  総数   出生   死亡 自然増加
市町村名
那覇市        155054 -61  311  101  210
石川市         10892  -1   12   12    0

Primary   社会動態                     \
Secondary   転入                 転出
Tertiary    県外   県内 その他    計   県外
市町村名
那覇市        370  562  17  949  355
石川市         19   62   6   87   20

Primary
Secondary                  社会
Tertiary    県内 その他     計   増加
市町村名
那覇市        815  50  1220 -271
石川市         65   3    88   -1
../data/raw/2022-10-13/199602.xls
../data/raw/2022-10-13/199602.xls
Primary      2月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        104799  298683  143662
石川市          6799   21797   10908

Primary               自然動態            \
Secondary
Tertiary        女  総数   出生   死亡 自然増加
市町村名
那覇市        155021 -85  292  184  108
石川市         10889  -4   26   15   11

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        453  691   9  1153  151
石川市         36   66   4   106   26

Primary
Secondary                   社会
Tertiary     県内 その他     計   増加
市町村名
那覇市        1114  81  1346 -193
石川市          95   0   121  -15
../data/raw/2022-10-13/199603.xls
../data/raw/2022-10-13/199603.xls
Primary      3月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        104837  298555  143561
石川市          6801   21803   10902

Primary                自然動態            \
Secondary
Tertiary        女   総数   出生   死亡 自然増加
市町村名
那覇市        154994 -128  261  137  124
石川市         10901    6   23   11   12

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        414  573  15  1002  162
石川市         22   51   2    75   25

Primary
Secondary                   社会
Tertiary     県内 その他     計   増加
市町村名
那覇市        1031  61  1254 -252
石川市          48   8    81   -6
../data/raw/2022-10-13/199604.xls
../data/raw/2022-10-13/199604.xls
Primary      4月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        104544  297099  142776
石川市          6749   21716   10835

Primary                 自然動態       \
Secondary
Tertiary        女    総数   出生   死亡
市町村名
那覇市        154323 -1456  270  101
石川市         10881   -87   13   10

Primary         社会動態                 \
Secondary         転入
Tertiary  自然増加    県外   県内 その他     計
市町村名
那覇市        169  1176  990  19  2185
石川市          3    53   83   3   139

Primary
Secondary    転出                    社会
Tertiary     県外    県内 その他     計    増加
市町村名
那覇市        2235  1515  60  3810 -1625
石川市          81   145   3   229   -90
../data/raw/2022-10-13/199605.xls
../data/raw/2022-10-13/199605.xls
Primary      5月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105163  297802  143130
石川市          6828   21793   10888

Primary                自然動態            \
Secondary
Tertiary        女   総数   出生   死亡 自然増加
市町村名
那覇市        154672  703  311  149  162
石川市         10905   77   19    3   16

Primary    社会動態                       \
Secondary    転入                   転出
Tertiary     県外    県内 その他     計   県外
市町村名
那覇市        1523  1445  34  3002  490
石川市          54    97   3   154   37

Primary
Secondary                   社会
Tertiary     県内 その他     計   増加
市町村名
那覇市        1931  40  2461  541
石川市          51   5    93   61
../data/raw/2022-10-13/199606.xls
../data/raw/2022-10-13/199606.xls
Primary      6月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105339  297871  143187
石川市          6833   21791   10879

Primary               自然動態            \
Secondary
Tertiary        女  総数   出生   死亡 自然増加
市町村名
那覇市        154684  69  312  127  185
石川市         10912  -2   31    9   22

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        586  638  21  1245  201
石川市         25   61   5    91   23

Primary
Secondary                   社会
Tertiary     県内 その他     計   増加
市町村名
那覇市        1107  53  1361 -116
石川市          69  23   115  -24
../data/raw/2022-10-13/199607.xls
../data/raw/2022-10-13/199607.xls
Primary      7月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105458  297871  143214
石川市          6841   21782   10869

Primary              自然動態            \
Secondary
Tertiary        女 総数   出生   死亡 自然増加
市町村名
那覇市        154657  0  284  127  157
石川市         10913 -9   22   12   10

Primary   社会動態                     \
Secondary   転入                 転出
Tertiary    県外   県内 その他    計   県外
市町村名
那覇市        414  516  15  945  135
石川市         20   46   7   73   26

Primary
Secondary                  社会
Tertiary    県内 その他     計   増加
市町村名
那覇市        928  39  1102 -157
石川市         64   2    92  -19
../data/raw/2022-10-13/199608.xls
../data/raw/2022-10-13/199608.xls
Primary      8月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105525  297885  143206
石川市          6848   21763   10856

Primary               自然動態           \
Secondary
Tertiary        女  総数   出生  死亡 自然増加
市町村名
那覇市        154679  14  154  65   89
石川市         10907 -19   35  10   25

Primary   社会動態                     \
Secondary   転入                 転出
Tertiary    県外   県内 その他    計   県外
市町村名
那覇市        353  280  10  643  305
石川市         29   52   2   83   35

Primary
Secondary                社会
Tertiary    県内 その他    計  増加
市町村名
那覇市        408   5  718 -75
石川市         84   8  127 -44
../data/raw/2022-10-13/199609.xls
../data/raw/2022-10-13/199609.xls
Primary      9月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105527  300851  144638
石川市          6677   21778   10868

Primary                自然動態            \
Secondary
Tertiary        女   総数   出生   死亡 自然増加
市町村名
那覇市        156213 -135  498  216  282
石川市         10910    4   22   14    8

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        921  943  14  1878  174
石川市         35   63   2   100   29

Primary
Secondary                   社会
Tertiary     県内 その他     計   増加
市町村名
那覇市        2032  89  2295 -417
石川市          74   1   104   -4
../data/raw/2022-10-13/199610.xls
../data/raw/2022-10-13/199610.xls
Primary     10月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105638  300809  144634
石川市          6694   21807   10880

Primary               自然動態            \
Secondary
Tertiary        女  総数   出生   死亡 自然増加
市町村名
那覇市        156175 -42  323  105  218
石川市         10927  29   27    7   20

Primary   社会動態                     \
Secondary   転入                 転出
Tertiary    県外   県内 その他    計   県外
市町村名
那覇市        465  505  17  987  132
石川市         22   59   8   89   17

Primary
Secondary                   社会
Tertiary     県内 その他     計   増加
市町村名
那覇市        1082  33  1247 -260
石川市          63   0    80    9
../data/raw/2022-10-13/199611.xls
../data/raw/2022-10-13/199611.xls
Primary     11月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105779  300993  144726
石川市          6704   21827   10892

Primary                自然動態            \
Secondary
Tertiary        女   総数   出生   死亡 自然増加
市町村名
那覇市        156267  184  358  119  239
石川市         10935   20   24   11   13

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        545  705  24  1274  184
石川市         34   91   2   127   34

Primary
Secondary                  社会
Tertiary     県内 その他     計  増加
市町村名
那覇市        1106  39  1329 -55
石川市          86   0   120   7
../data/raw/2022-10-13/199612.xls
../data/raw/2022-10-13/199612.xls
Primary     12月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105984  301110  144798
石川市          6715   21849   10914

Primary                自然動態            \
Secondary
Tertiary        女   総数   出生   死亡 自然増加
市町村名
那覇市        156312  117  279  121  158
石川市         10935   22   27    6   21

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        403  605  14  1022  112
石川市         25   61   0    86   18

Primary
Secondary                 社会
Tertiary    県内 その他     計  増加
市町村名
那覇市        914  37  1063 -41
石川市         65   2    85   1
../data/raw/2022-10-13/199701.xls
../data/raw/2022-10-13/199701.xls
Primary      1月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        106042  301123  144831
石川市          6726   21862   10926

Primary               自然動態            \
Secondary
Tertiary        女  総数   出生   死亡 自然増加
市町村名
那覇市        156292  13  294  148  146
石川市         10936  13   11   15   -4

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        363  631  18  1012  127
石川市         24   20   2    46   20

Primary
Secondary                  社会
Tertiary    県内 その他     計   増加
市町村名
那覇市        972  46  1145 -133
石川市          9   0    29   17
../data/raw/2022-10-13/199702.xls
../data/raw/2022-10-13/199702.xls
Primary      2月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        106087  301055  144769
石川市          6737   21848   10906

Primary               自然動態            \
Secondary
Tertiary        女  総数   出生   死亡 自然増加
市町村名
那覇市        156286 -68  338  198  140
石川市         10942 -14   26   23    3

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        456  604  13  1073  426
石川市         33   53   1    87   28

Primary
Secondary                  社会
Tertiary    県内 その他     計   増加
市町村名
那覇市        803  52  1281 -208
石川市         74   2   104  -17
../data/raw/2022-10-13/199703.xls
../data/raw/2022-10-13/199703.xls
Primary      3月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        106092  300921  144669
石川市          6748   21868   10909

Primary                自然動態            \
Secondary
Tertiary        女   総数   出生   死亡 自然増加
市町村名
那覇市        156252 -134  272  147  125
石川市         10959   20   22   10   12

Primary   社会動態                      \
Secondary   転入                  転出
Tertiary    県外   県内 その他     計   県外
市町村名
那覇市        427  568  21  1016  347
石川市         25   51   0    76   21

Primary
Secondary                   社会
Tertiary    県内  その他     計   増加
市町村名
那覇市        799  129  1275 -259
石川市         45    2    68    8
../data/raw/2022-10-13/199704.xls
../data/raw/2022-10-13/199704.xls
Primary      4月1日    当時人口          \
Secondary      当時
Tertiary  世帯数(世帯)      総数       男
市町村名
那覇市        105828  299387  143862
石川市          6759   21838   10896

Primary                 自然動態       \
Secondary
Tertiary        女    総数   出生   死亡
市町村名
那覇市        155525 -1534  246  158
石川市         10942   -30   28   13

Primary         社会動態                  \
Secondary         転入
Tertiary  自然増加    県外    県内 その他     計
市町村名
那覇市         88  1339  1163  28  2530
石川市         15    64   123   4   191

Primary
Secondary   転出                    社会
Tertiary    県外    県内 その他     計    増加
市町村名
那覇市        907  3175  70  4152 -1622
石川市         86   142   8   236   -45
../data/raw/2022-10-13/199705.xls
../data/raw/2022-10-13/199706.xls
../data/raw/2022-10-13/199707.xls
../data/raw/2022-10-13/199708.xls
../data/raw/2022-10-13/199709.xls
../data/raw/2022-10-13/199710.xls
../data/raw/2022-10-13/199711.xls
../data/raw/2022-10-13/199712.xls
../data/raw/2022-10-13/199801.xls
../data/raw/2022-10-13/199802.xls
../data/raw/2022-10-13/199803.xls
../data/raw/2022-10-13/199804.xls
../data/raw/2022-10-13/199805.xls
../data/raw/2022-10-13/199806.xls
../data/raw/2022-10-13/199807.xls
../data/raw/2022-10-13/199808.xls
../data/raw/2022-10-13/199809.xls
../data/raw/2022-10-13/199810.xls
../data/raw/2022-10-13/199811.xls
../data/raw/2022-10-13/199812.xls
../data/raw/2022-10-13/199901.xls
../data/raw/2022-10-13/199902.xls
../data/raw/2022-10-13/199903.xls
../data/raw/2022-10-13/199904.xls
../data/raw/2022-10-13/199905.xls
../data/raw/2022-10-13/199906.xls
../data/raw/2022-10-13/199907.xls
../data/raw/2022-10-13/199908.xls
../data/raw/2022-10-13/199909.xls
../data/raw/2022-10-13/199910.xls
../data/raw/2022-10-13/199911.xls
../data/raw/2022-10-13/199912.xls
../data/raw/2022-10-13/200001.xls
../data/raw/2022-10-13/200002.xls
../data/raw/2022-10-13/200003.xls
../data/raw/2022-10-13/200004.xls
../data/raw/2022-10-13/200005.xls
../data/raw/2022-10-13/200006.xls
../data/raw/2022-10-13/200007.xls
../data/raw/2022-10-13/200008.xls
../data/raw/2022-10-13/200009.xls
../data/raw/2022-10-13/200010.xls
../data/raw/2022-10-13/200011.xls
../data/raw/2022-10-13/200012.xls
../data/raw/2022-10-13/200101.xls
../data/raw/2022-10-13/200102.xls
../data/raw/2022-10-13/200103.xls
../data/raw/2022-10-13/200104.xls
../data/raw/2022-10-13/200105.xls
../data/raw/2022-10-13/200106.xls
../data/raw/2022-10-13/200107.xls
../data/raw/2022-10-13/200108.xls
../data/raw/2022-10-13/200109.xls
../data/raw/2022-10-13/200110.xls
../data/raw/2022-10-13/200111.xls
../data/raw/2022-10-13/200112.xls
../data/raw/2022-10-13/200201.xls
../data/raw/2022-10-13/200202.xls
../data/raw/2022-10-13/200203.xls
../data/raw/2022-10-13/200204.xls
../data/raw/2022-10-13/200205.xls
../data/raw/2022-10-13/200206.xls
../data/raw/2022-10-13/200207.xls
../data/raw/2022-10-13/200208.xls
../data/raw/2022-10-13/200209.xls
../data/raw/2022-10-13/200210.xls
../data/raw/2022-10-13/200211.xls
../data/raw/2022-10-13/200212.xls
../data/raw/2022-10-13/200301.xls
../data/raw/2022-10-13/200302.xls
../data/raw/2022-10-13/200303.xls
../data/raw/2022-10-13/200304.xls
../data/raw/2022-10-13/200305.xls
../data/raw/2022-10-13/200306.xls
../data/raw/2022-10-13/200307.xls
../data/raw/2022-10-13/200308.xls
../data/raw/2022-10-13/200309.xls
../data/raw/2022-10-13/200310.xls
../data/raw/2022-10-13/200311.xls
../data/raw/2022-10-13/200312.xls
../data/raw/2022-10-13/200401.xls
../data/raw/2022-10-13/200402.xls
../data/raw/2022-10-13/200403.xls
../data/raw/2022-10-13/200404.xls
../data/raw/2022-10-13/200405.xls
../data/raw/2022-10-13/200406.xls
../data/raw/2022-10-13/200407.xls
../data/raw/2022-10-13/200408.xls
../data/raw/2022-10-13/200409.xls
../data/raw/2022-10-13/200410.xls
../data/raw/2022-10-13/200411.xls
../data/raw/2022-10-13/200412.xls
../data/raw/2022-10-13/200501.xls
../data/raw/2022-10-13/200502.xls
../data/raw/2022-10-13/200503.xls
../data/raw/2022-10-13/200504.xls
../data/raw/2022-10-13/200505.xls
../data/raw/2022-10-13/200506.xls
../data/raw/2022-10-13/200507.xls
../data/raw/2022-10-13/200508.xls
../data/raw/2022-10-13/200509.xls
../data/raw/2022-10-13/200510.xls
../data/raw/2022-10-13/200511.xls
../data/raw/2022-10-13/200512.xls
../data/raw/2022-10-13/200601.xls
../data/raw/2022-10-13/200602.xls
../data/raw/2022-10-13/200603.xls
../data/raw/2022-10-13/200604.xls
../data/raw/2022-10-13/200605.xls
../data/raw/2022-10-13/200606.xls
../data/raw/2022-10-13/200607.xls
../data/raw/2022-10-13/200608.xls
../data/raw/2022-10-13/200609.xls
../data/raw/2022-10-13/200610.xls
../data/raw/2022-10-13/200611.xls
../data/raw/2022-10-13/200612.xls
../data/raw/2022-10-13/200701.xls
../data/raw/2022-10-13/200702.xls
../data/raw/2022-10-13/200703.xls
../data/raw/2022-10-13/200704.xls
../data/raw/2022-10-13/200705.xls
../data/raw/2022-10-13/200706.xls
../data/raw/2022-10-13/200707.xls
../data/raw/2022-10-13/200708.xls
../data/raw/2022-10-13/200709.xls
../data/raw/2022-10-13/200710.xls
../data/raw/2022-10-13/200711.xls
../data/raw/2022-10-13/200712.xls
../data/raw/2022-10-13/200801.xls
../data/raw/2022-10-13/200802.xls
../data/raw/2022-10-13/200803.xls
../data/raw/2022-10-13/200804.xls
../data/raw/2022-10-13/200805.xls
../data/raw/2022-10-13/200806.xls
../data/raw/2022-10-13/200807.xls
../data/raw/2022-10-13/200808.xls
../data/raw/2022-10-13/200809.xls
../data/raw/2022-10-13/200810.xls
../data/raw/2022-10-13/200811.xls
../data/raw/2022-10-13/200812.xls
../data/raw/2022-10-13/200901.xls
../data/raw/2022-10-13/200902.xls
../data/raw/2022-10-13/200903.xls
../data/raw/2022-10-13/200904.xls
../data/raw/2022-10-13/200905.xls
../data/raw/2022-10-13/200906.xls
../data/raw/2022-10-13/200907.xls
../data/raw/2022-10-13/200908.xls
../data/raw/2022-10-13/200909.xls
../data/raw/2022-10-13/200910.xls
../data/raw/2022-10-13/200911.xls
../data/raw/2022-10-13/200912.xls
../data/raw/2022-10-13/201001.xls
../data/raw/2022-10-13/201002.xls
../data/raw/2022-10-13/201003.xls
../data/raw/2022-10-13/201004.xls
../data/raw/2022-10-13/201005.xls
../data/raw/2022-10-13/201006.xls
../data/raw/2022-10-13/201007.xls
../data/raw/2022-10-13/201008.xls
../data/raw/2022-10-13/201009.xls
../data/raw/2022-10-13/201010.xls
../data/raw/2022-10-13/201011.xls
../data/raw/2022-10-13/201012.xls
../data/raw/2022-10-13/201101.xls
../data/raw/2022-10-13/201102.xls
../data/raw/2022-10-13/201103.xls
../data/raw/2022-10-13/201104.xls
../data/raw/2022-10-13/201105.xls
../data/raw/2022-10-13/201106.xls
../data/raw/2022-10-13/201107.xls
../data/raw/2022-10-13/201108.xls
../data/raw/2022-10-13/201109.xls
../data/raw/2022-10-13/201110.xls
../data/raw/2022-10-13/201111.xls
../data/raw/2022-10-13/201112.xls
../data/raw/2022-10-13/201201.xls
../data/raw/2022-10-13/201202.xls
../data/raw/2022-10-13/201203.xls
../data/raw/2022-10-13/201204.xls
../data/raw/2022-10-13/201205.xls
../data/raw/2022-10-13/201206.xls
../data/raw/2022-10-13/201207.xls
../data/raw/2022-10-13/201208.xls
../data/raw/2022-10-13/201209.xls
../data/raw/2022-10-13/201210.xls
../data/raw/2022-10-13/201211.xls
../data/raw/2022-10-13/201212.xls
../data/raw/2022-10-13/201301.xls
../data/raw/2022-10-13/201302.xls
../data/raw/2022-10-13/201303.xls
../data/raw/2022-10-13/201304.xls
../data/raw/2022-10-13/201305.xls
../data/raw/2022-10-13/201306.xls
../data/raw/2022-10-13/201307.xls
../data/raw/2022-10-13/201308.xls
../data/raw/2022-10-13/201309.xls
../data/raw/2022-10-13/201310.xls
../data/raw/2022-10-13/201311.xls
../data/raw/2022-10-13/201312.xls
../data/raw/2022-10-13/201401.xls
../data/raw/2022-10-13/201402.xls
../data/raw/2022-10-13/201403.xls
../data/raw/2022-10-13/201404.xls
../data/raw/2022-10-13/201405.xls
../data/raw/2022-10-13/201406.xls
../data/raw/2022-10-13/201407.xls
../data/raw/2022-10-13/201408.xls
../data/raw/2022-10-13/201409.xls
../data/raw/2022-10-13/201410.xls
../data/raw/2022-10-13/201411.xls
../data/raw/2022-10-13/201412.xls
../data/raw/2022-10-13/201501.xls
../data/raw/2022-10-13/201502.xls
../data/raw/2022-10-13/201503.xls
../data/raw/2022-10-13/201504.xls
../data/raw/2022-10-13/201505.xls
../data/raw/2022-10-13/201506.xls
../data/raw/2022-10-13/201507.xls
../data/raw/2022-10-13/201508.xls
../data/raw/2022-10-13/201509.xls
../data/raw/2022-10-13/201510.xls
../data/raw/2022-10-13/201511.xls
../data/raw/2022-10-13/201512.xls
../data/raw/2022-10-13/201601.xls
../data/raw/2022-10-13/201602.xls
../data/raw/2022-10-13/201603.xls
../data/raw/2022-10-13/201604.xls
../data/raw/2022-10-13/201605.xls
../data/raw/2022-10-13/201606.xls
../data/raw/2022-10-13/201607.xls
../data/raw/2022-10-13/201608.xls
../data/raw/2022-10-13/201609.xls
../data/raw/2022-10-13/201610.xls
../data/raw/2022-10-13/201611.xls
../data/raw/2022-10-13/201612.xls
../data/raw/2022-10-13/201701.xls
../data/raw/2022-10-13/201702.xls
../data/raw/2022-10-13/201703.xls
../data/raw/2022-10-13/201704.xls
../data/raw/2022-10-13/201705.xls
../data/raw/2022-10-13/201706.xls
../data/raw/2022-10-13/201707.xls
../data/raw/2022-10-13/201708.xls
../data/raw/2022-10-13/201709.xls
../data/raw/2022-10-13/201710.xls
../data/raw/2022-10-13/201711.xls
../data/raw/2022-10-13/201712.xls
../data/raw/2022-10-13/201801.xls
../data/raw/2022-10-13/201802.xls

In [49]:
name = rest[0]

In [46]:
def call_sheet(name):
    return pd.read_excel(name, sheet_name=None, index_col=0).keys()

In [47]:
call_sheet(rest[0])

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13'])

In [52]:
pd.read_excel(name, sheet_name='1').replace('', np.nan).replace(' ', np.nan).dropna(axis=0, how='all')

,Unnamed: 0,Unnamed: 1,市 町 村 別 人 口 総 数 及 び 世 帯 数 （平成 9年 5月 1日）,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,単位 : 人,Unnamed: 17
1,NaN,平成 9年,平 成 9 年 5月 1 日,NaN,NaN,NaN,NaN,NaN,平 成 9 年 4 月 中 の 人 口 増 加,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,5月 1日,現 在 人 口,NaN,NaN,NaN,自 然 動 態,NaN,NaN,社 会 動 態,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,市 町 村 名,現 在,NaN,NaN,NaN,NaN,NaN,NaN,NaN,転 入,NaN,NaN,NaN,転 出,NaN,NaN,NaN,社会
4,NaN,世 帯 数,総 数,男,女,総 数,出 生,死亡,自然,県外,県内,その,計,県外,県内,その,計,増加
5,NaN,(世 帯),NaN,NaN,NaN,NaN,NaN,NaN,増加,NaN,NaN,他,NaN,NaN,NaN,他,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,伊 良 部 町,2242,6896,3393,3503,-14,2,5,-3,18,27,3,48,29,30,0,59,-11
64,多 良 間 村,506,1351,734,617,12,1,1,0,0,28,0,28,2,14,0,16,12
65,八重山郡,2260,5281,2706,2575,-2,5,1,4,40,137,0,177,30,153,0,183,-6
66,竹 富 町,1572,3510,1798,1712,22,3,1,2,34,110,0,144,22,102,0,124,20
67,与 那 国 町,688,1771,908,863,-24,2,0,2,6,27,0,33,8,51,0,59,-26

In [58]:
read(pd.read_excel(name, sheet_name='3'))

Primary,５月１日,４月１日,増減数,増減率,５月１日,増減数,増減率
Secondary,,,,,,,
Tertiary,市部計那覇市,市部計那覇市,市部計那覇市,市部計那覇市,市部計那覇市,市部計那覇市,市部計那覇市
市町村名,,,,,,,
宜野湾市,83593,83270,323,0,82952,641,0
平良市,33323,33015,308,0,33099,224,0
石垣市,41949,41528,421,1,41745,204,0
浦添市,98155,97853,302,0,96950,1205,1
名護市,54387,53981,406,0,54106,281,0
糸満市,53931,53773,158,0,53643,288,0
沖縄市,117184,116941,243,0,116027,1157,1
郡部計,422360,421195,1165,0,418025,4335,1
国頭郡,63757,63733,24,0,63763,-6,0
国頭村,5860,5836,24,0,5939,-79,-1
大宜味村,3370,3380,-10,0,3358,12,0
東村,1972,1977,-5,0,1960,12,0
今帰仁村,9432,9449,-17,0,9471,-39,0
本部町,14680,14670,10,0,14687,-7,0
恩納村,8831,8804,27,0,8742,89,1
宜野座村,4651,4662,-11,0,4658,-7,0
金武町,9909,9924,-15,0,9856,53,0
伊江村,5052,5031,21,0,5092,-40,0
中頭郡,157398,156824,574,0,155179,2219,1
与那城町,13009,13003,6,0,13065,-56,0
勝連町,13052,13031,21,0,13058,-6,0
読谷村,33891,33833,58,0,33083,808,2
嘉手納町,13505,13475,30,0,13647,-142,-1
北谷町,24303,24280,23,0,24000,303,1
北中城村,15109,15096,13,0,14991,118,0
中城村,14287,14198,89,0,13995,292,2
西原町,30242,29908,334,1,29340,902,3
島尻郡,173629,173042,587,0,171284,2345,1
豊見城村,46937,46779,158,0,45843,1094,2
東風平町,16452,16405,47,0,16157,295,1
具志頭村,7376,7348,28,0,7145,231,3
玉城村,10174,10158,16,0,10098,76,0
知念村,5932,5909,23,0,5913,19,0
佐敷町,11196,11185,11,0,11131,65,0
与那原町,14970,14936,34,0,14869,101,0
大里村,11323,11313,10,0,11212,111,1
南風原町,30818,30676,142,0,30480,338,1
仲里村,5104,5073,31,0,5135,-31,0
具志川村,4656,4653,3,0,4655,1,0
渡嘉敷村,692,692,0,0,717,-25,-3
座間味村,997,1007,-10,-1,1003,-6,0
粟国村,981,963,18,1,950,31,3
渡名喜村,597,580,17,2,602,-5,0
南大東村,1509,1470,39,2,1465,44,3
北大東村,581,578,3,0,575,6,1
伊平屋村,1442,1431,11,0,1440,2,0
伊是名村,1892,1886,6,0,1894,-2,0
宮古郡,22295,22313,-18,0,22522,-227,-1
城辺町,7842,7855,-13,0,7855,-13,0
下地町,3091,3087,4,0,3049,42,1
上野村,3115,3122,-7,0,3187,-72,-2
伊良部町,6896,6910,-14,0,7052,-156,-2
多良間村,1351,1339,12,0,1379,-28,-2
八重山郡,5281,5283,-2,0,5277,4,0
竹富町,3510,3488,22,0,3476,34,1
与那国町,1771,1795,-24,-1,1801,-30,-1

In [70]:
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])
df




for label, content in df.items():
    print(f'label: {label}')
    print(f'content: {content}', sep='\n')

label: species
content: panda         bear
polar         bear
koala    marsupial
Name: species, dtype: object
label: population
content: panda     1864
polar    22000
koala    80000
Name: population, dtype: int64

In [69]:
pd.read_excel(name, sheet_name='1')

,Unnamed: 0,Unnamed: 1,市 町 村 別 人 口 総 数 及 び 世 帯 数 （平成 9年 5月 1日）,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,単位 : 人,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,平成 9年,平 成 9 年 5月 1 日,NaN,NaN,,NaN,NaN,平 成 9 年 4 月 中 の 人 口 増 加,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,5月 1日,現 在 人 口,NaN,NaN,,自 然 動 態,NaN,NaN,社 会 動 態,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,市 町 村 名,現 在,,NaN,NaN,,NaN,NaN,NaN,転 入,NaN,NaN,NaN,転 出,NaN,NaN,NaN,社会
4,NaN,世 帯 数,総 数,男,女,総 数,出 生,死亡,自然,県外,県内,その,計,県外,県内,その,計,増加
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
for i in pd.read_excel(name, sheet_name='1'):
    print(i[0])

U
U

U
U
U
U
U
U
U
U
U
U
U
U
U
単
U

In [62]:
read(pd.read_excel(name, sheet_name='1'),1).head(1)

Primary      5月1日   当時人口         \
Secondary      当時
Tertiary  世帯数(世帯)     総数      男
市町村名
石川市          6830  21944  10971

Primary               自然動態          \
Secondary
Tertiary       女   総数   出生 死亡 自然増加
市町村名
石川市        10973  106   26  9   17

Primary   社会動態                        \
Secondary   転入                転出
Tertiary    県外   県内 その他    計  県外  県内
市町村名
石川市         64  160   1  225  52  83

Primary
Secondary           社会
Tertiary  その他    計  増加
市町村名
石川市         1  136  89

In [1]:
name

NameError: name 'name' is not defined

In [63]:
pd.read_excel(name, sheet_name='1')

,Unnamed: 0,Unnamed: 1,市 町 村 別 人 口 総 数 及 び 世 帯 数 （平成 9年 5月 1日）,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,単位 : 人,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,平成 9年,平 成 9 年 5月 1 日,NaN,NaN,,NaN,NaN,平 成 9 年 4 月 中 の 人 口 増 加,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,5月 1日,現 在 人 口,NaN,NaN,,自 然 動 態,NaN,NaN,社 会 動 態,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,市 町 村 名,現 在,,NaN,NaN,,NaN,NaN,NaN,転 入,NaN,NaN,NaN,転 出,NaN,NaN,NaN,社会
4,NaN,世 帯 数,総 数,男,女,総 数,出 生,死亡,自然,県外,県内,その,計,県外,県内,その,計,増加
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
def read(df,col_start=2):
    raw_df = df.replace('', np.nan).replace(' ', np.nan).dropna(axis=0, how='all')

    def clean_and_fill(col: int):
        return cleaning_jp(raw_df.iloc[col, :]).fillna(method="ffill")

    primary_columns = clean_and_fill(col_start)
    secondary_columns = clean_and_fill(col_start+1)
    third_columns = [
        a + b if b else a for a, b in zip(clean_and_fill(col_start+2), clean_and_fill(col_start+3))
    ]

    values = (
        raw_df.iloc[8:, 1:]
        .applymap(
            lambda x: unicodedata.decimal("NFD", cleaning_jp(x))
            if isinstance(x, str)
            else x
        )
        .astype("int")
    )
    df = values
    df.index = cleaning_jp(raw_df.iloc[8:, 0])
    df.index.name = "市町村名"
    df.columns = pd.MultiIndex.from_arrays(
        [primary_columns, secondary_columns, third_columns],
        names=("Primary", "Secondary", "Tertiary"),
    )[1:]

    return df